<footer>
    <div class="footer">
        <article>
            <h2>UHWF-TANZANIA</h2>
            <p>
                Dar es salaam-Tanzania
                <br>
                P.O.BOX 22, Dar es salaam
                <br>
                Dodoma
                <br>
                <br>
                <strong>Phone 1:</strong>
                <a href="tel:+255 684 6401 39">+255 684 6401 39</a>
                <br>
                <strong>Phone 2:</strong>
                <a href="tel:+255 684 6401 39">+255 684 6401 39</a>
                <br>
                <strong>Email:</strong>
                <a href="mailto:kasikemartin99@gmail.com">martin99@gmail.com</a>
            </p>
            <div class="social">
                <a href=""><i class="fa-brands fa-facebook"></i></a>
                <a href=""><i class="fa-brands fa-instagram"></i></a>
                <a href=""><i class="fa-brands fa-youtube"></i></a>
                <a href=""><i class="fa-brands fa-tiktok"></i></a>
            </div>
           
        </article>
        <article>
            <h2>Useful links</h2>
            <ul>
                <li><a href=""><i class="fa-solid fa-angle-right"></i>Home page</a></li>
                <li><a href=""><i class="fa-solid fa-angle-right"></i>contact Us</a></li>
                <li><a href=""><i class="fa-solid fa-angle-right"></i>About Us</a></li>
                <li><a href=""><i class="fa-solid fa-angle-right"></i>Services</a></li>
                <li><a href=""><i class="fa-solid fa-angle-right"></i>Our team</a></li>
            </ul>
        </article>
        <article>
            <h2>Our Services</h2>
            <ul>
                <li><a href=""><i class="fa-solid fa-angle-right"></i>Selling Land</a></li>
                <li><a href=""><i class="fa-solid fa-angle-right"></i>Selling Land</a></li>
                <li><a href=""><i class="fa-solid fa-angle-right"></i>Selling Land</a></li>
                <li><a href=""><i class="fa-solid fa-angle-right"></i>Selling Land</a></li>
                <li><a href=""><i class="fa-solid fa-angle-right"></i>Selling Land</a></li>
            </ul>
        </article>
        <article>
            <h2>Support</h2>
            <ul>
                <li><a href=""><i class="fa-solid fa-angle-right"></i>Help Center</a></li>
            </ul>
        </article>
    </div>
    <div class="bottom-footer">
        <p class="p">Copyright &copy; Uwhf 2025 All right reserved</p>
    </div>
</footer>