<footer>
    <div class="footer">
        <article>
            <h2>UHWF-TANZANIA</h2>
            <p>
                Dar Es Salaam-Tanzania
                <br>
                P.O.BOX 35864, Ubungo
                <br>
                Dar Es Salaam
                <br>
                <br>
                <strong>Phone 1:</strong>
                <a href="tel:+255 684 6401 39">+255716-113-759</a>
                <br>
                <strong>Phone 2:</strong>
                <a href="tel:+255 684 6401 39">+255733-699-520</a>
                <br>
                <strong>Email:</strong>
                <a href="mailto:info@uhwf.or.tz">info@uhwf.or.tz</a>
            </p>
            <div class="social">
                <a href=""><i class="fa-brands fa-facebook"></i></a>
                <a href=""><i class="fa-brands fa-instagram"></i></a>
                <a href=""><i class="fa-brands fa-youtube"></i></a>
                <a href=""><i class="fa-brands fa-tiktok"></i></a>
            </div>
           
        </article>
        <article>
            <h2>Useful links</h2>
            <ul>
                <li><a href="/index"><i class="fa-solid fa-angle-right"></i>Home</a></li>
                <li><a href="/about"><i class="fa-solid fa-angle-right"></i>About</a></li>
                <li><a href="/team"><i class="fa-solid fa-angle-right"></i>Team</a></li>
            </ul>
        </article>
        <article>
            <h2>Our Services</h2>
            <ul>
                <li><a href="/land"><i class="fa-solid fa-angle-right"></i>Land use Planning</a></li>
                <li><a href=""><i class="fa-solid fa-angle-right"></i>Wildlife Research</a></li>
                <li><a href=""><i class="fa-solid fa-angle-right"></i>Build Community</a></li>
                <li><a href=""><i class="fa-solid fa-angle-right"></i>Building Network</a></li>
                <li><a href=""><i class="fa-solid fa-angle-right"></i>Innovations Hub</a></li>
            </ul>
        </article>
        <article>
            <h2>Support</h2>
            <ul>
                <li><a href="/help"><i class="fa-solid fa-angle-right"></i>Help Center</a></li>
            </ul>
        </article>
    </div>
    <div class="bottom-footer">
        <p class="p">Copyright &copy; Uwhf 2026 All right reserved</p>
    </div>
</footer>