
<div class="about-us">
    <h1>About Us</h1>
    <p style="text-align: center;">Our story and Who we are?</p>
</div>

<div class="container about-page">
   
    
    <div class="about-content">
      <p>Welcome to our dealership! We are passionate about connecting customers with their perfect vehicle.</p>
      <h2>Our Vission</h2>
      <p>Tanzania with Sustained Land, Environmental, and Natural Resources with core Human-
        wildlife interaction that could realize security, well-being, and sustainable development of the entire community.</p>
      
      <h2>Our Mission</h2>
      <p>To contribute towards sustainable land, environmental, and natural resources
        management with core human-wildlife interactions through participatory land use
        planning, advocacy, strategic research, capacity building as well as networking.</p>
      
      <h2>Our Team</h2>
      <p>With over 50 years of combined experience, our friendly staff is here to make your car-buying experience enjoyable and stress-free.</p>

      <h2>Organization Objective</h2>
      <div style="color: white;">
        <ol >
          <li>Promote participatory exercise for conservation and sustainable use of natural
            resources</li>
            <li>Promote strategic research on appropriate technology for the management of
              Human Wildlife Conflict (HWC)</li>
            <li>Empower the community to initiate and manage mitigation and protection for
              themselves.</li>
            <li>Promote resilience to HWC through access to and benefit sharing</li>
            <li>Awareness creation through advocacy, capacity building and educational
              programs</li>
        </ol>
      </div>
     
        
      
      <h2>Visit Us</h2>
      <p>35864 Urafiki NHC Street, • Dar es Salaam, Tanzania 35864<br>
         Monday–Friday: 8:00AM–4:00PM • Saturday: 9:00AM–5:00PM</p>
    </div>
  </div>