<div class="container">
    <div class="header-left">
      <h2 class="title">
        <span class="word">UHWF</span>
        <span class="word">TANZANIA</span>
        
      </h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas quis molestias autem rem enim eum quidem omnis quod quaerat iusto. Expedita quo eligendi odio quas voluptatibus fugiat labore dicta et. Suscipit, repellat.</p>
          <div class="buttons">
            <a href="/account/register.ejs" class="btn btn-primary">Register Now</a>
            <a href="#" class="btn btn-secondary">Download Agreement</a>
          </div>
        
    </div>
    <div class="header-right">
      <h2>HELLO</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur vel cumque ducimus excepturi dolor beatae blanditiis numquam architecto temporibus, magni id quidem placeat a necessitatibus ab aut repellendus, doloribus perferendis exercitationem veniam reprehenderit hic!</p>
    </div>
  </div>
  <section>
    <div class="about">
       <div class="header">
         <h2>We Are Uhwf</h2>
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci repellat esse impedit?</p>
         <div class="content-0">
          <div class="content-1">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, id magnam. Alias dolore recusandae vel excepturi nisi eaque voluptatem amet tempora ullam facere non illo voluptatum, deserunt quod nobis molestiae sunt quaerat?</p>
         </div>
         <div class="content-1">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, id magnam. Alias dolore recusandae vel excepturi nisi eaque voluptatem amet tempora ullam facere non illo voluptatum, deserunt quod nobis molestiae sunt quaerat?</p>
       </div>
    </div>
  </section>
