
<div class="container">
    <div class="header-left">
      <h2 class="title">
        <span class="word">UHWF</span>
        <span class="word">TANZANIA</span>
        
      </h2>
          <p><b>Universal Human-Wildlife Foundation (UHWF) </b> is a Non-Governmental
          Organization (NGO) founded in December 2022 to operate in Tanzania
          Mainland and registered with registration number 00NGO/R/4248 under the
          Non-Governmental Organization Act, No.24 of 2002 as altered in 2019. The
          organization will operate on a national scale and strive to contribute to
          sustainable land, environmental, and natural resource management with a focus on core human-wildlife interactions through participatory land use planning,advocacy, strategic research, capacity building, and networking.</p>
          <div class="buttons">
            <a href="/account/register" class="btn btn-primary">Register Now</a>
            <a href="#" class="btn btn-secondary">Download Agreement</a>
          </div>
        
    </div>
    <div class="header-right">
      <img src="/images/site/conservation.webp" alt="environment conservation" loading="lazy">
    </div>
  </div>
  <section>
    <div class="about">
       <div class="header-02">
         <h2>We Are Uhwf</h2>
         <p>We are the Universal Human-Wildlife Foundation (UHWF), a registered Tanzanian NGO founded in 2022. Based in Dar es Salaam, we focus on sustainable natural resource management and reducing human-wildlife conflict nationwide.</p>
         <div class="content-0">
          <div class="content-1">
            <h2 style="color: whitesmoke;">Our plan</h2>
            <p>UHWF's plan focuses on expanding participatory land-use planning, researching innovative HWC mitigation technologies, empowering communities for self-protection, promoting resilience through benefit-sharing, and raising awareness via advocacy and capacity-building programs nationwide.</p>
         </div>
         <div class="content-1">
          <h2 style="color: whitesmoke;">Our strategies</h2>
          <p>UHWF strategies include promoting participatory conservation, advancing strategic research on HWC technologies, empowering communities for self-mitigation, enhancing resilience via benefit-sharing, and driving awareness through advocacy, capacity building, and educational programs nationwide.</p>
       </div>
    </div>
  </section>
