<section class="enviro">
    <div class="enviro-content">
      <h1>Welcome to our Career Center</h1>
      <p>Career center at UHWF supports students with job readiness, internships, career guidance, skills training, employer connections, and professional development opportunities.</p>
    </div>
  </section>
  <div class="container_pages">

    <!-- LEFT SIDE -->
    <div class="left">
      <h2 class="small-title">We Are</h2>
      <h1 class="big-title">HIRING</h1>
      <p class="role">Career Advisors – UHWF-Dodoma</p>
  
      <h3>QUALIFICATIONS:</h3>
      <ul>
        <li>Diploma/Bachelor’s Degree in related field</li>
        <li>Mature, honest, and reliable</li>
        <li>Customer-centered</li>
        <li>Flexible with working hours</li>
        <li>Excellent communication skills</li>
        <li>Ability to work under pressure</li>
      </ul>
  
      <p class="footer-text">
        Send CV before 20st April 2026<br/>
        <strong>uhwf-hr@co.tz</strong>
      </p>
    </div>
  
    <!-- RIGHT SIDE -->
    <div class="right">
      <div class="image-wrapper">
        <img src="/images/site/landuse.webp" alt="person">
      </div>
  
      <div class="content">
        <p>
            UHWF is dedicated to nurturing talent and empowering individuals to grow and thrive. Our team is the backbone of our mission to deliver quality ICT education and exceptional service to our clients. If you’re passionate about making a difference, we invite you to join us and be part of a forward-thinking institution that values innovation, collaboration and excellence. 

            If you’re passionate about education and customer service and want to be part of a team that makes a real impact, we would love to hear from you! 
        </p>
  
        <h2>Why work with us</h2>
  
        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                  Accordion Item #1
                </button>
              </h2>
              <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item’s accordion body.</div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                  Accordion Item #2
                </button>
              </h2>
              <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the second item’s accordion body. Let’s imagine this being filled with some actual content.</div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                  Accordion Item #3
                </button>
              </h2>
              <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item’s accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
              </div>
            </div>
          </div>
  
  </div>
  