<div class="contact">
    <div class="contact-header">
        <h2>Get In Touch</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, dolores.</p>
    </div>
    <div class="cards">
        <div class="content-card">
            <!-- <div class="emoji">
                <i class="fa-regular fa-comment-smile"></i>
            </div> -->
            <h2>Chat to sales</h2>
            <p>speak to our team </p>
            <button class="btn-02">Chat to sales</button>
        </div>
        <div class="content-card">
            <h2>Chat to Support</h2>
            <p>We're here to support</p>
            <button class="btn-02">Chat to support</button>
        </div>
        <div class="content-card">
            <h2>Visit Us</h2>
            <p>Visit our office HQ </p>
            <button class="btn-02">Get Direction</button>
        </div>
        <div class="content-card">
            <h2>Call Us</h2>
            <p>Mon -Fri from 8am to 4pm</p>
            <button class="btn-02">Call our team</button>
        </div>
    </div>
    <div class="message">
        <div class="message-header">
            <h2>Message Us</h2>
            <p>we'll get back to you within 24 hours.</p>
        </div>
        <form action="">
            <!-- Firstname and Lastname in two columns -->
            <div class="name-row">
                <div class="form-control">
                    <label for="firstname">Firstname</label>
                    <input type="text" id="firstname" placeholder="Enter your Firstname" required>
                </div>
                <div class="form-control">
                    <label for="lastname">Lastname</label>
                    <input type="text" id="lastname" placeholder="Enter your Lastname" required>
                </div>
            </div>
    
            <div class="form-control">
                <label for="email">Email</label>
                <input type="email" id="email" placeholder="Enter your email" required>
            </div>
    
            <div class="form-control">
                <label for="message">Message</label>
                <textarea id="message" placeholder="Write your message here..." required></textarea>
            </div>
    
            <button type="submit">Send Message</button>
        </form>
        </div>
    </div>
</div>